{%for post in posts%}
	<h2>
		<a href="/blog/posts/{{ post.id }}/true">
			{{ post.title }}
		</a>
	</h2>
	<ul>
		<li>
		{%extends "base/blog.html"%}
		{%block content%}
		title={{Post.title}}
		body={{Post.body}}
		created={{Post.created}}
		updated={{Post.updated}}
		return title+body+created+updated
		{%end block}	
		</li>
	<li>
	c_author=''
	c_body=''
	c_created=''
	c_updated=''
	{%for c in Comment: %}
		c_author+={{c.author}}
		c_body+={{c.body}}
		c_created+={{c.created}}
		c_updated+={{c.updated}}
	return c_author+c_body+c_created+c_updated
	</li>
	</ul>	
		
		
{%end for%}
